@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        font-family: "Roboto", sans-serif;
        text-align: justify;
    }

    h1 {
        text-align: center;
        margin:0;
    }

    h2 {
        font-size: 1.5em;
        margin: 0;
    }

    p {
        margin: 10px 0;
        font-size: 1.1em;
    }

    a {
        color: #228B22;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    footer {
        text-align: center;
        margin-top: 40px;
        padding: 20px;
        background-color: #d3d3d3;
        border-top: 1px solid #8B4513;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>
    Este documento forma parte del Proyecto 1 de la Universidad Estatal a Distancia, correspondiente al curso de FUNDAMENTOS DE PROGRAMACIÓN WEB 03075. En este proyecto, se ha desarrollado un sistema para Jardinería Hermanos Hernández, el cual incluye funcionalidades de gestión de empleados, maquinaria, clientes y mantenimientos.
</p>

<h2>Información que recopilamos</h2>
<p>
    Recopilamos información básica, como nombre, dirección, correo electrónico y número de teléfono, cuando usted se registra para nuestros servicios.
</p>

<h2>Uso de la información</h2>
<p>
    La información que recopilamos se utiliza para proporcionar y mejorar nuestros servicios, comunicarnos con usted y cumplir con sus solicitudes.
</p>

<h2>Protección de su información</h2>
<p>
    Implementamos medidas de seguridad para proteger su información personal contra el acceso no autorizado, la divulgación o la destrucción.
</p>

<h2>Sus derechos</h2>
<p>
    Tiene derecho a acceder, corregir o eliminar su información personal en cualquier momento. Para ejercer estos derechos, contáctenos.
</p>

<h2>Cambios en esta política</h2>
<p>
    Podemos actualizar esta política de privacidad de vez en cuando. Le notificaremos sobre cambios importantes a esta política.
</p>

<h2>Contacto</h2>
<p>
    Si tiene preguntas sobre esta política de privacidad, puede contactarnos a través de:
</p>

<footer>
    <p>
        Universidad Estatal a Distancia - Vicerrectoría de Docencia - Escuela de Ciencias Exactas y Naturales - Cátedra de Ingeniería de Software
    </p>
    <p>
        GitHub: <a href="https://github.com/PauloCR15">PauloCR15</a>
    </p>
</footer>
